version: '3'
services:
  api_base:
    container_name: api_petshop_dti
    image: api_petshop_dti_image
    build:
      context: .
      dockerfile: api.dockerfile
    ports:
      - "3030:80"

  client_base:
    container_name: client_petshop_dti
    image: client_petshop_dti_image
    build:
      context: .
      dockerfile: client.dockerfile
    ports:
      - "3000:80"